@mixin make-self-align($prefix: "") {
    //stretch|center|flex-start|flex-end|baseline
    @if($prefix != "") {
        $prefix:"-" + $prefix;
    }

    %align-text-#{$prefix}{
      text-align: initial;
    }

    .align-auto#{$prefix} {
      @extend %align-text-#{$prefix};
      -webkit-align-self: auto;
          -ms-flex-item-align: auto;
                  -ms-grid-row-align: auto;
              align-self: auto;
    }

    .align-top#{$prefix} {
        @extend %align-text-#{$prefix};
        -webkit-align-self: flex-start;
            -ms-flex-item-align: start;
                align-self: flex-start;
    }

    .align-start#{$prefix} {
        @extend .align-top#{$prefix};
        text-align: start;
    }


    .align-bottom#{$prefix} {
      @extend %align-text-#{$prefix};
      -webkit-align-self: flex-end;
          -ms-flex-item-align: end;
              align-self: flex-end;
    }

    .align-end#{$prefix}{
        @extend .align-bottom#{$prefix};
        text-align: end;
    }


    .align-middle#{$prefix} {
      @extend %align-text-#{$prefix};
      -webkit-align-self: center;
          -ms-flex-item-align: center;
                -ms-grid-row-align: center;
            align-self: center;
    }

    .align-center#{$prefix} {
        @extend .align-middle#{$prefix};
        text-align: center;
    }

    .align-baseline#{$prefix} {
      @extend %align-text-#{$prefix};
      -webkit-align-self: baseline;
          -ms-flex-item-align: baseline;
              align-self: baseline;
    }

    .align-stretch#{$prefix} {
      @extend %align-text-#{$prefix};
      -webkit-align-self: stretch;
          -ms-flex-item-align: stretch;
                  -ms-grid-row-align: stretch;
              align-self: stretch;
    }

}

@mixin make-align($prefix: "") {

    @if($prefix != "") {
        $prefix:"-" + $prefix;
    }

   &.flex-start#{$prefix}{
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        text-align: start;
    }

    &.flex-middle#{$prefix} {
         -webkit-box-align: center;
         -ms-flex-align: center;
         align-items: center;
    }

   &.flex-center#{$prefix} {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
    }

   &.flex-end#{$prefix} {
        -webkit-box-pack: end;
         -ms-flex-pack: end;
         justify-content: flex-end;
         text-align: end;
    }

    
   &.flex-top#{$prefix} {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

   

   &.flex-bottom#{$prefix} {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
    }

   &.flex-around#{$prefix} {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    &.flex-first#{$prefix} {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
    }

    &.flex-last#{$prefix} {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
            order: 1;
    }

   &.flex-between#{$prefix} {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
    }
}

@mixin make-grid($columns, $prefix) {

    @if($prefix != "") {
        $prefix: "-" + $prefix;
    }

    %col#{$prefix} {
        position: relative;
        padding-left: $gutter/2;
        padding-right: $gutter/2;
    }

    %col-num#{$prefix}{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    }

    > .col#{$prefix}{
        @extend %col#{$prefix};
        @extend %col-num#{$prefix};

        -webkit-flex-basis: 0;
            -ms-flex-preferred-size: 0;
                flex-basis: 0;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        max-width: 100%;
    }

    > .col#{$prefix}-auto{
       @extend %col#{$prefix};
      -webkit-box-flex: 0;
      -webkit-flex: 0 1 auto;
              flex: 0 1 auto;
    }

    
    
    @for $i from 1 through $columns {

        $percentage: percentage($i / $columns);

        > .col#{$prefix}-#{$i} {
            @extend %col#{$prefix};
            width: $percentage;
        }
        > .col-offset#{$prefix}-#{$i}{
            @extend %col#{$prefix};
            margin-left: percentage($i / $columns);
        }
    }
}