.dl dt, .dl dd {
  margin: 0; }

.dl dt, .dl dd {
  padding-left: 15px;
  padding-left: 0.9375rem;
  padding-right: 15px;
  padding-right: 0.9375rem; }

.dl {
  margin: 10px 0px;
  margin: 0.625rem 0rem;
  box-shadow: 0 0.25rem 0.25rem #e2e2e2;
  width: 100%; }
  .dl dt {
    font-weight: bold;
    padding-top: 15px;
    padding-top: 0.9375rem;
    padding-bottom: 15px;
    padding-bottom: 0.9375rem; }
  .dl dd {
    padding-bottom: 15px;
    padding-bottom: 0.9375rem;
    border-bottom: 1px solid #d6d6d6; }
    .dl dd:last-child {
      border-bottom: none; }

/*# sourceMappingURL=dl.css.map */
