@import 'colors';
@import 'defaults';


%margin{
    margin: 0;
}

%padding{
    @include rem-fallback(padding-left, 15);
    @include rem-fallback(padding-right, 15);
}

.dl{
    
    @include rem-fallback(margin, 10, 0);
    box-shadow: 0 px-to-rem(4) px-to-rem(4) darken($backgroundColor, 5%);
    width: 100%;

    dt{
        @extend %margin;
        @extend %padding;
        font-weight: bold;
        @include rem-fallback(padding-top, 15);
        @include rem-fallback(padding-bottom, 15);
    }

    dd{
        @extend %margin;
        @extend %padding; 
    
        @include rem-fallback(padding-bottom, 15);
        border-bottom: 1px solid darken($backgroundColor, 10%);

        &:last-child{
            border-bottom: none;
        }

    }
}