@import 'defaults';
@import 'devices';
@import 'flex_grid_functions';

$gutter: 2rem;
$columns: 12;

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.flex-container{
    
    display: block;
    padding-left: $gutter/2;
    padding-right: $gutter/2;
}

%flex{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;

    margin-left: -$gutter/2;
    margin-right: -$gutter/2;

}

.flex-row {
    
    @extend %clearfix;
    @extend %flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;

    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;



    &.reverse{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }
    
    // XS Devices
    @include make-grid($columns, "xs");
    @include make-align("xs");
    @include make-self-align("xs");

    
    // Small Devices
    @media (min-width: $deviceSmall) {
        @include make-grid($columns, "sm");
        @include make-align("sm");
        @include make-self-align("sm");
    }
    
    // Medium Devices
    @media (min-width: $deviceMedium) {
        @include make-grid($columns, "md");
        @include make-align("md");
        @include make-self-align("md");
    }

    // Large Devices
    @media (min-width: $deviceLarge) {
        @include make-grid($columns, "lg");
        @include make-align("lg");
        @include make-self-align("lg");
    }
}


// .flex-column{
//     @extend %flex;


//     &.reverse{

//         -webkit-box-orient: vertical !important;
//         -webkit-box-direction: reverse !important;
//         -webkit-flex-direction: column-reverse !important;
//             -ms-flex-direction: column-reverse !important;
//                 flex-direction: column-reverse !important;
//     }
// }
// 
// 
// 