@import 'defaults';
@import 'devices';

$gutter: 1rem;
$columns: 12;

@mixin make-grid($columns, $prefix) {
    
    @for $i from 1 through $columns {

        $percentage: percentage($i / $columns);

        %col#{$prefix}{
            box-sizing:border-box;
            display: block;
            float:left;
            margin:0;
            min-height: 1px;
            padding-left: $gutter/2;
            padding-right: $gutter/2;
        }

        %col-reverse#{$prefix}{
            float: right;
        }

        .col-#{$prefix}-#{$i} {
            width: $percentage;
            @extend %col#{$prefix};
        }
        .col-offset-#{$prefix}-#{$i}{
            margin-left: $percentage;
            margin-right: 0;
        }

        &.reverse {

            .col-#{$prefix}-#{$i}{
                @extend %col-reverse#{$prefix};
            }

            .col-offset-#{$prefix}-#{$i}{
                margin-left: 0;
                margin-right: $percentage;
            }
        }
    }
}

.row {
    box-sizing: border-box;
    margin-left: -$gutter/2;
    margin-right: -$gutter/2;
    @extend %clearfix;

    @include make-grid($columns, "xs");
        
    // Small Devices
    @media (min-width: $deviceSmall) {
        @include make-grid($columns, "sm");
    }
    
    // Medium Devices
    @media (min-width: $deviceMedium) {
        @include make-grid($columns, "md");
    }

    // Large Devices
    @media (min-width: $deviceLarge) {
        @include make-grid($columns, "lg");
    }
}
