@import 'devices';
@import 'colors';
@import 'defaults';

$topAlignHeight: 150px;
$footerHeight: 85px;

$sidebarAnimationDuration: 0.2s;

html, body{
    height:  100%;
    margin: 0;
    padding: 0;
}

body{

    font-family: Arial;
    &, *{ box-sizing: border-box; }
}

.site-footer{
    background-color: #cecece;
    border-bottom: 10px solid $colorPrimary;
    height: $footerHeight;
    padding: 10px;

    .copyright{
        color: #888888;        
        font-size: 12px;
        padding:10px;
        a{
            color: #888888;
            text-decoration: none;
            font-weight: bold;
        }
    }

}

.wrapper{

    position: relative;
    min-height: calc(100% - #{$footerHeight});
    height: auto;
    
    .container{
        
        /*Isso aqui fixa o problema o tamanho da sidebar */
        height: 100%;
        padding-bottom: 20px;

        .top-menu
        {
            //border-bottom: 1px solid $defaultBorderColor;
            // height: $topAlignHeight;
            padding: 20px;
            position: relative;
            @extend %clearfix;

            .top-menu-items
            {
                width: 80%;
                float: left;
                @media (max-width: $deviceMedium) {
                    width: 100%;
                }
                ul
                {
                    margin:0;
                    padding:0;

                    li
                    {

                        background-color: $colorPrimary;
                        float: left;
                        list-style: none;
                        margin-right: 5px;

                        a
                        {
                            color: #fff;
                            display: block;
                            font-size: 16px;
                            padding: 15px;
                            position: relative;
                            text-decoration: none;

                            &:after
                            {
                                content: '';
                                position: absolute;
                                bottom: -10px;
                                left: 10%;
                                border: solid 10px transparent;
                                border-width: 10px 10px 0 10px;
                                border-top-color: $colorPrimary;
                            }
                        }

                        &.disabled{
                            background-color: $backgroundColor;
                            a{
                                color: #222;

                                &:after{
                                    border-top-color: $backgroundColor;
                                }
                            }
                        }
                    }
                }


            }

            .top-menu-user-actions{

                text-align: right;
                width: 20%;
                float: left;
                position: relative;

                @media (max-width: $deviceMedium) {
                    display: none;
                }

                a.anchor{
                    color: #000;
                    font-size: 12px;
                    font-weight: bold;
                    padding: 5px;
                    display: block;
                }

                ul.user-actions.closed{
                    display: none;
                }

                ul.user-actions{

                    padding:0;
                    margin:0;
                    list-style: none;
                    position: absolute;
                    width: 100%;
                    z-index: 5;

                    li{
                    
                        background-color: #efefef;
                        display: block;
                        text-align: left;

                        a{
                            color: #000000;
                            display: block;
                            padding:10px;
                            text-decoration: none;
                            font-style: italic;
                            font-weight: bold;

                            > .user-actions-icon{
                                color: $colorPrimary;
                                font-weight: bold;
                                font-size: 15px;
                            }
                        }

                    }
                }
            }

        }

        .content
        {
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 10px;
        }
    }


    .sidebar
    {
        background-color: #ffffff;
        border-color: $defaultBorderColor;
        height: 100%;
        z-index: 1;
        position: absolute;
        top: 0;
        width: 300px;
        overflow-y: auto;
        overflow-x: hidden;

        @extend %clearfix;


        .sidebar-header
        {
            //border-bottom: 1px solid $defaultBorderColor;
            display: block;
            // height: $topAlignHeight;
            padding: 10px;
            text-align: center;
            .sidebar-logo
            {
                max-height: 100%;
            }
        }


        .sidebar-footer
        {
            padding-top: 10px;
        }

        .sidebar-body, .sidebar-footer
        {
            padding-left: 15px;
            padding-right: 15px;
        }


        ul.sidebar-links
        {
            list-style: none;
            padding: 0;
            width: 100%;

            > li 
            {

                display: block;

                > a
                {
                    border-bottom: 1px dotted #aaa;
                    color: #333333;
                    display: block;
                    font-size: 13px;
                    padding: 7px 5px;
                    text-decoration: none;
                    width: 100%;
                    transition: background-color .1s linear;

                    &:hover
                    {
                        background-color: #cecece;
                    }


                    &.active{
                        color: #ffffff;
                        background-color: $colorPrimary;
                        font-weight: bold;
                    }

                }

                &:last-of-type > a{
                    border-bottom-color: transparent;
                }
            }
        }

    }



    &.sidebar-left
    {

        .sidebar
        {
            left: 0;
            border-right-width: 1px;
            border-right-style: solid;
            transition: left $sidebarAnimationDuration linear;

            @media (max-width: $deviceMedium)
            {
                left: -9999px;
                &.opened{
                    left: 0;
                }
            }

        }

        .container
        {
            margin-left: 300px;
            transition: margin-left $sidebarAnimationDuration linear;
            @media (max-width: $deviceMedium)
            {
                margin-left: 0;
            }
        }
    }

    &.sidebar-right{

        .sidebar{
            right: 0;
            border-left-width: 1px;
            border-left-style: solid;
            transition: right $sidebarAnimationDuration linear;
            @media (max-width: $deviceMedium)
            {
                right: -9999px;
                 &.opened{
                    right: 0;
                }

            }
        }

        .container{
            margin-right: 300px;
            transition: margin-right $sidebarAnimationDuration linear;
            @media (max-width: $deviceMedium)
            {
                margin-right: 0;
            }
        }
    }
}


.text-primary
{
    color: $colorPrimary;
}

.text-right
{
    text-align: right;
}

.text-left
{
    text-align: left;
}

.text-center
{
    text-align: center;
}

.text-justify
{
    text-align: justify;
}

.pull-right
{
    float: right;
}
.pull-left
{
    float: left;
}

@media (max-width: $deviceSmall - 1)
{
    .hidden-xs{
        display: none !important;
    }
}

@media (min-width: $deviceSmall) and (max-width: $deviceMedium - 1)
{
    .hidden-sm{
        display: none !important;
    }
}

@media (min-width: $deviceMedium) and (max-width: $deviceLarge - 1)
{
    .hidden-md{
        display: none !important;
    }
}

@media (min-width: $deviceLarge)
{
    .hidden-lg{
        display: none !important;
    }
}

.clearfix{
    @extend %clearfix;
}