@import 'devices';
@import 'colors';


%clearfix{
    
    &::after, &::before{
        content: ' ';
        display: block;
        clear:both;
    }
}

.container-login {    

    box-sizing: border-box;
    width: 500px;
    margin:0 auto;
    font-size: 14px;
    /** Mobile trick**/
    max-width: 100%;


    *{box-sizing: border-box;}

    .container-login-title{
        display: block;
        font-size: 2em;
        // text-align: center;
        font-weight: lighter;

        @media screen and (max-width: $deviceSmall) {
            font-size: 1.5em;
        }
    }


    .container-login-caption{
        font-size: 14px;
    }

    .container-login-header{
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;

        @media screen and (max-width: $deviceSmall) {
            
            margin-top: 5px;
            margin-bottom: 5px;

            .logo{
                width: 100px;

            }
        }

    }


    .container-login-footer{

        margin-top: 20px;
        background-image: linear-gradient(to top, darken($backgroundColor, 15%), #fff);
        padding: 25px;
        border-bottom: 18px solid $colorPrimary;
        text-align: center;
        max-height: 120px;

    }

    .container-login-body {


        min-height: 350px;
        background-color: $backgroundColor;
        padding: 35px;


        .login-box {
            // width: 400px;
            max-width: 100%;
            margin:0 auto;
            border-left: 25px solid $colorPrimary;
            padding: 20px;
            background-image: linear-gradient(to top, darken($backgroundColor, 15%), #fff);


            form {

                @extend %clearfix;
            }

            
            .login-box-footer{
                margin-top: 10px;
                margin-bottom: 10px;

            }
            
        }


        .input-container input{
            background-color: #ffffff;
            padding: 10px;
            outline: none;
            border: 1px solid #b5b5b5;
            width: 100%;
            box-sizing: border-box;
        }

        .input-container label{
            color: $colorPrimary;
            display: inline-block;
            font-size: 1.25em;
            font-weight: bold;
            margin-bottom: 10px;
            margin-top: 10px;

            @media screen and (max-width: $deviceSmall) {
                font-size: 1em;
            }
        }

        label.checkbox{
            display: inline-block;
            width: 50%;
            float:left;
            line-height: 1;
            font-size: 12px;
            padding:10px 0;
            cursor: pointer;

            input[type="checkbox"] {
                margin-top: 0px;
                float: left;
            }
        }

        .login-button{
            background-color: $colorPrimary;
            border-left: none;
            border-right: none;
            border-top: none;
            border-bottom: 6px solid darken($colorPrimary, 40%);
            color: #ffffff;
            cursor: pointer;
            float:right;
            height: 38px;
            outline: none;
            padding: 0 15px;
            height: 38px;

            &:active{
                transform: translateY(2px);
            }
        }
    }

}

a#logo-tmt{
    text-decoration: none;
    display: inline-block;
    border:none;
    img {
        height: 60px;
    }

}

@media screen and (max-width: $deviceSmall) {

    #img-site-seguro{
        height: 40px;
    }

    a#logo-tmt {

        img{
            height: 40px;
        }
    }
}
