@import 'colors';
@import 'defaults';
@import 'devices';


$background-table: #fefefe;
$font-family: Helvetica, Arial;

%box-sizing-border-box{
    box-sizing: border-box;
}

.table{
    
    @extend %box-sizing-border-box;

    * {
        @extend %box-sizing-border-box;
    }

    border-spacing: 0;
    border-collapse: collapse;
    @include rem-fallback(margin, 10, 0);
    @include rem-fallback(font-size, 14);
    width: 100%;

    caption {
        @include rem-fallback(font-size, 20);
        @include rem-fallback(padding, 10, 5);
        color: #222;
        text-align: left;
    }

    %td-th{
        @include rem-fallback(padding, 15);
        text-align: left;
    }

    tr {

        th{
            @extend %td-th;
            a{
                color: #222;
            }
        }

        td {
            @extend %td-th;
            border-top: 1px solid darken($background-table, 10%);
        }

        &.active{
            td {
                background-color: $colorPrimary;
                color: white;
            }
        }

    }

    &.striped{

        tr{
            &:nth-child(even){

                td{
                    background-color: darken($background-table, 2%);
                }

                &.active{
                    td{
                        background-color: lighten($colorPrimary, 10%);
                    }
                }
            }
        }
    }

    &.hover{

        tr{

            &:hover{
                td {
                    background-color: darken($background-table, 4%);
                }
            }

            &.active:hover {
                td{
                   background-color: lighten($colorPrimary, 4%);
                }
            }
        }
    }

    &.condensed {
        %cell-condensed{
            @include rem-fallback(padding, 5);
        }

        tr {
            td{
                @extend %cell-condensed;
            }

            th{
                @extend %cell-condensed;
            }
        }
    }


    @media (max-width: $deviceSmall) {

        %display-block-xs{
            display: block;    
        }

        @extend %display-block-xs;
        @include rem-fallback(margin-left, 10);
        @include rem-fallback(margin-right, 10);

        thead{
            display: none;
        }
    
        tr{
            box-shadow: 0 2px 2px darken($background-table, 25%);
            @extend %display-block-xs;
            @include rem-fallback(margin-bottom, 10);
            td{
                @extend %display-block-xs;

                &:first-child{
                    border-top: none;
                }
                

                &[data-th]::before{
                    content: attr(data-th)": ";
                    @extend %display-block-xs;
                    @include rem-fallback(padding-bottom, 15);
                    font-weight: bold;
                }
            }
        }
    }

}