<!DOCTYPE html>
<html>
<head>
    <title>Table</title>
    <link rel="stylesheet" type="text/css" href="normalize.min.css">
    <link rel="stylesheet" type="text/css" href="table.css">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>

    <script type="text/javascript">
        angular.module('app', [])

        .controller('AppController', function ($scope) {

            $scope.users = [
                "Wallace de Souza",
                "Wayne de Souza",
                "Fernando da Silva",
                "Gustavo Carmo",
                "Rafael Felipe"
            ];
        })
    </script>


    <style type="text/css">
    
        body{font-family: Arial;}

        @media (max-width: 768px){

        }
    </style>
</head>
<body ng-app="app">
    <div ng-controller="AppController">
        <div style= >
            <table class='table'>
                <caption>Usuários</caption>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in ::users track by $index" ng-click="$tr.actived=!$tr.actived" ng-class="{active: $tr.actived}">
                        <td title="ID" ng-bind="::$index"></td>
                        <td title="Name" ng-bind="user"></td>
                    </tr>

                </tbody>
            </table>
        </div>

        <div>
            <table class='table striped'>
                <caption>Usuários</caption>
                <thead>
                    <tr>
                        <th data-th="ID">Id</th>
                        <th>
                            <a href>Name</a>
                        </th>
                        <th>Company</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in ::users track by $index" ng-click="$tr.actived=!$tr.actived" ng-class="{active: $tr.actived}">
                        <td >1</td>
                        <td ng-bind='user'></td>
                        <td>Jonh Lab Corporation LTDA</td>
                    </tr>
                </tbody>
            </table>
        </div>


        <table class='table hover'>
            <caption>Usuários</caption>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>
                        <a href>Name</a>
                    </th>
                    <th>Company</th>
                    <th>lorem</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in ::users track by $index" ng-click="$tr.actived=!$tr.actived" ng-class="{active: $tr.actived}">
                    <td data-th='id'>{{ $index + 1 }}</td>
                    <td data-th="Name" ng-bind='user'></td>
                    <td data-th="Company">Jonh Lab Corporation LTDA</td>
                    <td data-th="Description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
                    <td>
                        <button>
                            Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>


        <table class='table condensed'>
            <caption>Usuários</caption>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>
                        <a href>Name</a>
                    </th>
                    <th>Company</th>
                    <th>lorem</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in ::users track by $index" ng-click="$tr.actived=!$tr.actived" ng-class="{active: $tr.actived}">
                    <td data-th='id'>{{ $index + 1 }}</td>
                    <td data-th="Name" ng-bind='user'></td>
                    <td data-th="Company">Jonh Lab Corporation LTDA</td>
                    <td data-th="Description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    </td>
                    <td>
                        <button>
                            Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div> 
    
</body>
</html>